* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f4e7eb;
  --header-background-color: #6c5b7b24;
  --text-color: #0f1b26;
  --link-color: #e6d5da;
  --link-hover-color: #ffffff;
  --button-hover-bg-color: #c06c84;
  --switch-off-bg-color: #043449;
  --switch-on-bg-color: #00c3ff;
  --gradient-start-color: #39357d;
  --gradient-mid-color: #89729e;
  --gradient-end-color: #c06c84;
  --font-title-subtitle: 'Playpen Sans', cursive;
  --font-text: 'Cambay', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
}

/*HEADER*/

.header {
  background-color: var(--header-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  height: 3em;
  width: 100vw;
  position: fixed;
  z-index: 1000;
}

.header__logo {
  height: 2em;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40em;
}

.item__link {
  text-decoration: none;
  color: var(--link-color);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-title-subtitle);
}

.item__link:hover {
  text-decoration: underline double;
  color: var(--link-hover-color);
}

/*Btn Claro-Oscuro*/

.switch {
  position: relative;
  width: 90px;
  height: 35px;
  margin: 0 1em 0 0;
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--switch-off-bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  transition: background-image 0.7s ease-in-out;
  -webkit-transition: background-image 0.7s ease-in-out;
  -moz-transition: background-image 0.7s ease-in-out;
  -ms-transition: background-image 0.7s ease-in-out;
  -o-transition: background-image 0.7s ease-in-out;
}

.switch:checked {
  background-color: var(--switch-on-bg-color);
  background-size: cover;
  transition: background-image 1s ease-in-out;
  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -ms-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
}

.switch:after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
  transform: translateX(0px);
  animation: off 0.7s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
  -webkit-animation: off 0.7s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@keyframes off {
  0% {
    transform: translateX(80px);
    width: 30px;
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
  }

  50% {
    width: 75px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }

  100% {
    transform: translateX(0px);
    width: 30px;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

.switch:checked:after {
  animation: on 0.7s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
  -webkit-animation: on 0.7s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

@keyframes on {
  0% {
    transform: translateX(0px);
    width: 30px;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }

  50% {
    width: 75px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }

  100% {
    width: 30px;
    transform: translateX(55px);
    -webkit-transform: translateX(55px);
    -moz-transform: translateX(55px);
    -ms-transform: translateX(55px);
    -o-transform: translateX(55px);
  }
}

.switch:checked:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 5px;
  transform-origin: 53px 10px;
  background-color: transparent;
  box-shadow: 5px -1px 0px #fff;
  filter: blur(0px);
  animation: sun 0.7s forwards ease;
  -webkit-animation: sun 0.7s forwards ease;
  -webkit-filter: blur(0px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@keyframes sun {
  0% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -webkit-transform: rotate(170deg);
    -moz-transform: rotate(170deg);
    -ms-transform: rotate(170deg);
    -o-transform: rotate(170deg);
  }

  50% {
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

  90% {
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4,
      inset 0px 0px 2px #efd3a3;
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }

  100% {
    transform: rotate(0deg);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4,
      inset 0px 0px 2px #efd3a3;
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
}

.switch:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: -18px;
  top: 5px;
  filter: blur(1px);
  background-color: #f5daaa;
  box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4,
    inset 0px 0px 2px #efd3a3;
  transform-origin: 53px 10px;
  animation: moon 0.7s forwards ease;
  -webkit-animation: moon 0.7s forwards ease;
  -webkit-filter: blur(1px);
}

@keyframes moon {
  0% {
    transform: rotate(0deg);
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  50% {
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }

  90% {
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

  100% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -webkit-transform: rotate(170deg);
    -moz-transform: rotate(170deg);
    -ms-transform: rotate(170deg);
    -o-transform: rotate(170deg);
  }
}

/*MENU*/

/*Inicio*/

.about {
  background-image: url(img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 5em;
}

.about__title {
  margin-bottom: 1em;
  font-size: 3em;
  font-family: var(--font-title-subtitle);
  font-weight: var(--font-weight-regular);
  color: var(--text-color);
}

.title__span {
  font-weight: var(--font-weight-bold);
}

.btn__down {
  background-color: var(--text-color);
  width: 4em;
  height: 4em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
}

.btn__down:hover {
  background-color: var(--button-hover-bg-color);
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/*Sobre mi*/

.who {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1em;
}

.who__content-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40em;
}

.content-texts__title {
  padding-bottom: 1em;
  font-size: 2em;
  color: var(--text-color);
  font-family: var(--font-title-subtitle);
  font-weight: var(--font-weight-semibold);
}

.content-texts__text {
  padding-bottom: 1em;
  font-size: 1.2em;
  font-family: var(--font-text);
  color: var(--text-color);
}

.content-texts__subtitle {
  font-family: var(--font-title-subtitle);
  font-size: 1.2em;
}

.who__img {
  width: 32%;
}

.content__btns {
  width: 28em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*Btn CV*/

.btn__cv {
  font-family: var(--font-text);
  width: 15em;
  height: 3em;
  font-size: 1.1em;
  color: var(--text-color);
  background-color: var(--link-hover-color);
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.btn__cv:before,
.btn__cv:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  pointer-events: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}

.btn__cv:before {
  left: -100%;
  background: linear-gradient(
    to right,
    var(--gradient-start-color) 0%,
    var(--gradient-mid-color) 70%,
    var(--gradient-end-color) 100%
  );
  z-index: -1;
}

.btn__cv:hover:before {
  left: 0;
}

.btn__cv:after {
  right: -100%;
  background: linear-gradient(
    to right,
    var(--gradient-start-color) 0%,
    var(--gradient-mid-color) 70%,
    var(--gradient-end-color) 100%
  );
  z-index: -1;
}

.btn__cv:hover:after {
  right: 0;
}

.btn__cv:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn__cv:active {
  transform: translateY(1px);
  box-shadow: none;
}

/*Btns links*/

.btn__link {
  border: none;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  background-color: var(--link-hover-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}

.tooltip {
  position: absolute;
  top: -20px;
  opacity: 0;
  color: var(--link-hover-color);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  bottom: -20%;
  transition-duration: 0.3s;
}

.linkedin,
.linkedin::before {
  background-color: #1d569f;
}

.github,
.github::before {
  background-color: #000000;
}

.btn__link:hover .tooltip {
  top: -45px;
  opacity: 1;
  transition-duration: 0.3s;
}

.btn__link:hover {
  background-position: right;
  transition-duration: 0.5s;
}

/*Proyects*/

.proyects {
  margin: 7em 0 15em 0;
}

.proyects__title {
  text-align: center;
  padding: 1em 0;
  font-size: 2em;
  color: var(--text-color);
  font-family: var(--font-title-subtitle);
  font-weight: var(--font-weight-semibold);
}

.content__proyect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__proyect-text {
  width: 40em;
}

.proyect__title {
  font-family: var(--font-title-subtitle);
  font-weight: var(--font-weight-medium);
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.proyect__text {
  font-family: var(--font-text);
}

.content__skills {
  margin-top: 0.5em;
}

.img__skill {
  width: 5%;
}

.content__btns {
  margin-top: 4em;
}

.btn__degradado {
  margin-right: 1em;
  width: 15em;
  height: 3em;
  border: none;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-family: var(--font-text);
  font-size: 17px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}

.btn__degradado::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background: linear-gradient(
    to right,
    var(--gradient-start-color) 0%,
    var(--gradient-mid-color) 70%,
    var(--gradient-end-color) 100%
  );
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 700ms;
  -webkit-transition: all 700ms;
  -moz-transition: all 700ms;
  -ms-transition: all 700ms;
  -o-transition: all 700ms;
}

.btn__degradado:hover {
  color: #e8e8e8;
}

.btn__degradado:hover::before {
  width: 100%;
}

/*Skills*/

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.skills__title {
  text-align: center;
  font-size: 2em;
  font-family: var(--font-title-subtitle);
  font-weight: var(--font-weight-semibold);
}

.skills__content {
  display: grid;
  grid-template-columns: repeat(6, 10em);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  width: 80vw;
  margin-top: 10em;
}

.content__skill {
  text-align: center;
}

.skill__img {
  width: 4em;
}

.skill__title {
  font-family: var(--font-text);
}

.data__content {
  margin-top: 3em;
}

.skills__image {
  position: absolute;
}

.skills__image--variant1 {
  bottom: 10vw;
  left: 120vh;
}

.skills__image--variant2 {
  top: 40vw;
  right: 112vh;
}

/*Contact*/

.contact {
  background-image: url(img/backgroundFooter.png);
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 30em;
  height: 55em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__informacion {
  background-color: var(--link-color);
  padding: 0 2em;
  width: 70vw;
  height: 50em;
  border-radius: 4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  -ms-border-radius: 4em;
  -o-border-radius: 4em;
  box-shadow: 24px 24px 7px rgba(0, 0, 0, 0.23);
}

.contact__title {
  font-family: var(--font-title-subtitle);
  font-weight: var(--font-weight-semibold);
  text-align: center;
  padding: 1em 0;
  font-size: 2em;
}

.contact__text {
  font-family: var(--font-text);
  font-size: 1.1em;
  margin-bottom: 2em;
}

.text__link {
  cursor: pointer;
  color: var(--text-color);
}

.text__link:hover {
  color: var(--button-hover-bg-color);
}

.contact__form {
  height: 34em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.content__mail,
.content__name,
.content__textarea {
  font-family: var(--font-text);
  position: relative;
  margin-bottom: 4em;
}

.mail__input,
.name__input,
.textarea__input {
  font-family: var(--font-text);
  padding: 10px 10px 10px 5px;
  display: block;
  width: 65vw;
  border: none;
  border-bottom: 1px solid var(--text-color);
  background: transparent;
}

.textarea__input {
  height: 4em;
  width: 100%;
  resize: none;
}

.mail__input:focus,
.name__input:focus,
.textarea__input:focus {
  outline: none;
}

.mail__label,
.name__label,
.textarea__label {
  color: #818181;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.mail__input:focus ~ .mail__label,
.mail__input:valid ~ .mail__label,
.name__input:focus ~ .name__label,
.name__input:valid ~ .name__label,
.textarea__input:focus ~ .textarea__label,
.textarea__input:valid ~ .textarea__label {
  top: -20px;
  color: var(--gradient-end-color);
}

.contact__bar {
  position: relative;
  display: block;
  width: 100%;
}

.contact__bar:before,
.contact__bar:after {
  content: '';
  height: 0.2em;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: linear-gradient(144deg, #c06c84, #6c5b7b);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
}

.contact__bar:before {
  left: 50%;
}

.contact__bar:after {
  right: 50%;
}

.mail__input:focus ~ .contact__bar:before,
.mail__input:focus ~ .contact__bar:after,
.name__input:focus ~ .contact__bar:before,
.name__input:focus ~ .contact__bar:after,
.textarea__input:focus ~ .contact__bar:before,
.textarea__input:focus ~ .contact__bar:after {
  width: 50%;
}

.contact__highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.mail__input:focus ~ .contact__highlight,
.name__input:focus ~ .contact__highlight,
.textarea__input:focus ~ .contact__highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }

  to {
    width: 0;
    background: transparent;
  }
}

.btn {
  background: linear-gradient(
    144deg,
    var(--gradient-start-color),
    var(--gradient-mid-color) 50%,
    var(--gradient-end-color)
  );
  border: none;
  color: var(--link-hover-color);
  display: flex;
  font-family: var(--font-text);
  font-size: 1.1em;
  width: 8em;
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.btn__text {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}

.btn:hover .btn__text {
  background: none;
}

/*FOOTER*/

.footer {
  background-image: url(img/backgroundFooter.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

.text__footer {
  font-family: var(--font-title-subtitle);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.btn__up {
  background-color: var(--text-color);
  width: 4em;
  height: 4em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  position: absolute;
  bottom: -380em;
  right: 2em;
}

.btn__up:hover {
  background-color: var(--button-hover-bg-color);
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media (prefers-color-scheme: dark) {
  /*Dark Mode*/
  body {
    background-color: #5c3a44;
  }

  .about {
    background-image: url(img/backgroundDark.png);
  }

  .contact,
  .footer {
    background-image: url(img/backgroundFooterDark.png);
  }
}
